smolagents[toolkit]
torch
torchvision
torchaudio
sentence-transformers
faiss-cpu
numpy
pandas
requests
pillow
selenium
markdownify
helium
python-dotenv
accelerate
safetensors
pyyaml
basic-memory
psutil
sqlite-ai
evoagentx
swarms
recall-mem
qiskit
qiskit-ibm-runtime
firewalld
python-iptables
PyPDF2